@page "/landscape"

<Div Class="containerLandScape">

    <Div Class="containerImageLandScape">
        @if (ValueDefault._srcImg.Count > 0)
        {
            if (ValueDefault._withBackground == false)
            {
                <div class="imagePrincipal" style="width: 800px; height: 400px">
                    <img src="@(ValueDefault._srcImg.Count > 0 ? ValueDefault._srcImg[0] : ValueDefault._imageDefault)" style="width: 800px; height: 400px" />
                </div>
            }
            else
            {
                <div class="imagePrincipal" style="background: @ValueDefault._colorBackgroud; width: 800px; height: 410px">
                    <img src="@(ValueDefault._srcImg.Count > 0 ? ValueDefault._srcImg[0] : ValueDefault._imageDefault)" style="width: 790px; height: 395xp" />
                </div>
            }
               
                

            <Div Class="containerScreenShotLandScape">
                <h1>@ValueDefault._title</h1>
                <h2>@ValueDefault._company</h2>
                <Image Class="imgOne" Source="@(ValueDefault._srcImg.Count > 1 ? ValueDefault._srcImg[1] : ValueDefault._imageDefault)" />
                <Image Class="imgTwo" Source="@(ValueDefault._srcImg.Count > 2 ? ValueDefault._srcImg[2] : ValueDefault._imageDefault)" />
                <Image Class="imgThree" Source="@(ValueDefault._srcImg.Count > 3 ? ValueDefault._srcImg[3] : ValueDefault._imageDefault)" />
            </Div>               
        }
        else
        {
            <div Class="imagePrincipal" style="width: 800px; height: 400px; background: @ValueDefault._colorBackgroud = white"></div>
            <Div Class="containerScreenShotLandScape">
                <h1 style="background-color: @ValueDefault._colorTitle">Name of Application</h1>
                <h2 style="background-color: @ValueDefault._colorCompany">Name of Company</h2>
                <Image Class="imgOne" Source="@ValueDefault._imageDefault" />
                <Image Class="imgTwo" Source="@ValueDefault._imageDefault" />
                <Image Class="imgThree" Source="@ValueDefault._imageDefault" />                
            </Div>           
        }      
    </Div>

    <Div Class="containerInputLandScape">

        <Div Class="containerInputTextLandScape">
            <TextEdit Placeholder="Title" @bind-Text="ValueDefault._title" />
            <TextEdit Placeholder="Company" @bind-Text="ValueDefault._company" />
        </Div>

        <Div Class="containerInputFileLandScape">
            <FileEdit Changed="@HandleFileSelected" Multiple accept="image/png, image/jpeg" /> 
            <Check Class="ckeck" TValue="bool" @bind-Checked="ValueDefault._withBackground">Backgrouund</Check>
        </Div>

        <Div Class="containerColorLandScape">
            <ColorPicker @bind-Color="@ValueDefault._colorBackgroud" />
            <ColorPicker @bind-Color="@ValueDefault._colorTitle" />
            <ColorPicker @bind-Color="@ValueDefault._colorCompany" />
        </Div>

        <Div Class="containerInputNumberLandScape">
            <Label>Width:</Label>
            <NumericEdit @bind-Value="@ValueDefault._width"/>
            <Label>Height:</Label>
            <NumericEdit @bind-Value="@ValueDefault._height"/>     
        </Div>

        <Div class="containerControl">
            @if (ValueDefault._taskComplete == false)
            {
                <Button Class="BtnResize" @onclick="() => ResizeImage(ValueDefault._width, ValueDefault._height)" Disabled="@(ValueDefault._btnResize == false ? false : true)">Resize</Button>
            }
            else
            {
                <Button Class="BtnSave" @onclick="SaveImage">Download</Button>
            }
            <Button Class="BtnReset" @onclick="ValueDefault.ResetValues">Reset</Button>
        </Div>

    </Div>
</Div>

