@page "/screen"

<Div Class="containerScreen">
    
    <Div Class="containerImageScreen">
        @if (ValueDefault._srcImg.Count > 0)
        { @foreach (var image in ValueDefault._srcImg)
            {
                <Div>
                    <i class="bi bi-trash" @onclick="() => DeleteImage(image)"></i>
                    <Image Source="@image" />
                </Div>             
            }
        }
        else
        {
            <Div>
                <Image Source="@ValueDefault._imageDefault" />
            </Div>           
        }
        
    </Div>

    <Div Class="containerPixelScreen">
        <Label>Width</Label>
        <NumericEdit @bind-Value="@ValueDefault._width" />

        <Label>Height</Label>
        <NumericEdit @bind-Value="@ValueDefault._height" />
    </Div>

    <Div Class="containerFileScreen">
        <FileEdit Changed="@HandleFileSelected" Multiple accept="image/png, image/jpeg" />
    </Div>

    <Div class="containerControl">
        @if (ValueDefault._taskComplete == false)
        {
            <Button Class="BtnResize" @onclick="() => ResizeImage(ValueDefault._width, ValueDefault._height)" Disabled="@(ValueDefault._btnResize == false ? false : true)">Resize</Button>
        }
        else
        {
            <Button Class="BtnSave" @onclick="SaveImage">Download</Button>
        }
        <Button Class="BtnReset" @onclick="ValueDefault.ResetValues">Reset</Button>
    </Div>

</Div>

